
.site-contact {
    padding-bottom: 2rem;
    padding-top: 2rem;
   
    .contact-details {
        background-color: $secondary-theme-color;          
        border-radius: 10px 10px 0 0;
        @media (min-width: 992px) {
          border-radius: 10px 0 0 10px;  
        }
        height: 100%;
        padding: 10px 20px 30px 20px;
        ul {
            color: white;            
            li {
                &:first-child {
                    font-family: $secondary-theme-font;
                    font-size: 2.5rem;
                    line-height: 1.75;
                    padding-bottom: 5px;
                    padding-top: 5px;
               }            
               
                a { color: $primary-theme-color; }
                   
            } 
        }

        .contact-address {            
            &:last-child { margin-top: 20px; }           
        }
        .contact-options {                      
            margin-top: 20px;
            li {
                &:first-child {
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    padding-top: inherit;
                    padding-bottom: inherit;
                }
            }
        }
        .contact-guarantee {
            a { color: $primary-theme-color; }
            p { margin: 0; } 
        }
    }
    .contact-form {
        align-items: flex-start;
        background-color: white;
        box-shadow: 0px 5px 20px -3px rgba(22, 36, 62, 0.15);
        border-radius: 0 0 10px 10px;
        @media (min-width:992px) {
            border-radius: 0 10px 10px 0;
        }
        display: flex;      
        flex-direction: column;
        height: 100%;   
        padding: 28px 20px 20px 20px;        
    }
}
