.site-customers {    
    padding-top: 1em;
    padding-bottom: 1em;   
    @media (min-width: 768px) {   
        padding-top: 2.5em;
        padding-bottom: 2.5em;   
    } 
    
    h4   { margin-bottom: 0; }
    p    { margin: 0 }
    .btn { margin: auto; }

    .review {
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        
        .review-banner {
            align-items: center;
            background-color: $kings-theme-color;
            border-radius: 0 40px 0 40px;            
            color: white;
            display: flex; 
            justify-content: space-around;            
            flex-direction: column;
            font-family: $secondary-theme-font;
            font-size: 2.1rem;
            height: 265px;
            line-height: 1.6;
            text-align: center;
            width: 100%;

            .social {
                align-items: center;
                display: flex;
                justify-content: center;                
                margin-bottom: .3em;

                li {
                    padding-left: .5em;
                    padding-right: .5em;
                    a {
                        align-items: center;
                        background-color: white;
                        border-radius: 0 15px 0 15px;   
                        color: $secondary-theme-color;                        
                        display: flex;
                        justify-content: center;                        
                        height: 45px;
                        width: 45px;
                        text-decoration: none;
                        transition: all .2s ease-in-out;
                        i {
                            font-size: 2.6rem;
                        }
                        &:hover {
                            background-color: $primary-theme-color;
                            color: white;
                        }
                    }
                }
            }
        }
        .review-social {
            padding-top: 1em;
        }
        .review-user {
            align-items: center;
            bottom: 60px;
            display: flex;
            justify-content: space-between;                        
            width: calc(100% - 1.5em);
            position: absolute;
            
            span {
                &:first-child {
                    background-color: white;
                    border-radius: 0 50px 50px 0;
                    font-weight: bold;
                    padding: 10px 25px 10px 5px;
                }
                &:last-child { 
                    align-items: center;
                    border-radius: 100%;
                    background-color: $primary-theme-color;
                    color: white;
                    display: flex;
                    justify-content: center;
                    height: 50px;
                    width: 50px;
                }
            }
            img {
                border-radius: 100%;
            }
        }

        .review-picture {
            padding-bottom: 1em;            
            position: relative;
            
            img {
                @extend .img-fluid;                
                border-radius: 0 40px 0 40px;
                object-fit: cover;                
                min-height: 265px;
            }
        }
    }
}

