
.site-customers {
    padding-bottom: 2.5em;
    padding-top: 2.5em;

    .testimonials {        
        position: relative;
        .testimonial {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            .fullname {
                font-family: $heading-font-family;
                font-size: 1.9rem;
                font-weight: 400;
                margin-bottom: .25em;
            }
            .rating {
                i {
                    color: $kings-theme-color;
                    
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
            p {
                font-style: italic;
            }
        }
    }
}


