.site-deals {
    margin-top: 20px;                
    padding-top: 60px;
    padding-bottom: 30px;
    @media (min-width: 1024px) {
        margin-top: 0;        
        padding-top: 80px;
        .content {
            padding-bottom: 10px;
        }        
        .button {
            cursor: pointer;
            margin-bottom: 30px;
            transition: all .2s ease-in;
            &.active {
                background-color: $kings-theme-color;
                border: 1px solid white;
                color: white;

            }
            &#call {
                &:hover {
                    background-color: $kings-theme-color;
                    border:1px solid white;
                    color: white;
                    cursor: pointer;
                }
            }
            
        }        
    }    
    
    .swiper-container {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    
    .swiper-pagination-bullets {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 150px;
        > span {
            margin-left: 5px;
            margin-right: 5px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            } 
        }
        .swiper-pagination-bullet {
            background-color: $primary-theme-color;
            height: 5px;
            opacity: .4;
            width: 55px;
            transition: all .2s ease-in;
            &.swiper-pagination-bullet-active {
                opacity: 1;
                width: 65px;
            }
        }
    } 

    .button {
        margin-bottom: 15px;
        @media (max-width:992px) {
            margin-top: 15px;      
        }          
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .deals {
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width:992px) {
            padding-left: 0;
            padding-right: 0;                        
        }

        .item {   
            cursor: pointer;
            position: relative;
            text-align: center;            
            transition: top .2s ease-in-out;
            padding-right: 15px;
            top: 0;
            @media (min-width: 1200px) {
                padding-left: 15px;
                padding-right: 0;
            }
            
            @media (max-width: 992px) {                 
                &.item-favorite {                
                    .image {
                        margin-top: -25px;                    
                    }                       
                }
            }
            &:hover {
                top: -5px;
                .favorite-deal {
                    background-color: $kings-theme-color;
                }
                .image {
                    h3 {
                        bottom: 70px;
                        text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
                    }   
                              
                    .price {
                        bottom: 60px;
                        text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
                    }
                }
            }

            .button { 
                margin-bottom: 30px;
                margin-left: auto; 
                margin-right: auto;
            }

            .favorite-deal {            
                background-color: #ec473b;
                border-bottom-right-radius: 10px;
                color: white;                      
                font-size: 1.4rem;
                text-transform: uppercase;                        
                padding: 3.5px 3.5px 3.5px 15px;
                width: fit-content;
                position: relative;
                right: 0;
                top: 25px;
                @media (min-width:992px) {
                    position: absolute;                
                    top: 40px;
                    transform: rotate(90deg);
                }
                transition: background-color .4s ease-in-out;
                z-index: 2;       
                        
                i { padding-left: 7.5px; padding-right: 7.5px;}
            }         

            .image {
                position: relative;
                margin-bottom: 30px;
                                    
                &::before {
                    background: rgb(0,0,0);
                    background: linear-gradient(0deg, rgba(0,0,0,0.8519782913165266) 30%, rgba(255,255,255,0) 100%);
                    border-bottom-right-radius: 30px;
                    @media (min-width: 992px) {
                        border-bottom-right-radius: 100px;    
                    }                        
                    bottom: 0;
                    content: '';
                    height: 30%;
                    margin: auto;
                    right: 0;                      
                    width: 100%;
                    position: absolute;
                    z-index: 2;
                    transition: height .3s ease-in-out;
                }
                h3 {   
                    bottom: 30px;
                    padding-bottom: 0;
                    position: absolute;                    
                    text-transform: uppercase;
                    text-align: center;
                    transition: bottom .3s ease-in-out;
                    z-index: 5;                     
                    width: 100%;
                    a {
                        color: $primary-theme-color;
                        text-decoration: none;
                        transition: color .5s ease-in-out;
                    }
                }
                .price {
                    bottom: 15px;
                    color: white;
                    font-size: 1.4rem;
                    left: 0;
                    padding-bottom: 0;
                    position: absolute;
                    text-align: center;
                    text-transform: lowercase;
                    z-index: 5;                     
                    width: 100%;
                    text-shadow: inherit;
                    transition: all .4s ease-in-out;
                }
                picture {
                    display: flex;
                    position: relative;
                    overflow: hidden;
                    &::after {
                        background: rgb(0,0,0);
                        background: linear-gradient(0deg, rgba(0,0,0,0.8547794117647058) 35%, rgba(255,255,255,0) 100%);
                        border-bottom-right-radius: 30px;
                        bottom: 0;
                        content: '';
                        height: 120px;
                        position: absolute;
                        width: 100%;
                    }
                    @media (min-width:992px) {
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        z-index: 1; 
                        
                        &::after {
                            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                            border-bottom-right-radius: 100px;
                            content: '';                        
                            display: block;
                            height: 100%;
                            margin: auto;
                            left: -230px;     
                            position: absolute;
                            right: 0;
                            top: 0;                        
                            transform: skewX(-25deg);
                            width: 640px;                        
                            z-index: 1;
                            transition: background .4s ease-in-out;
                        }  
                        img {
                            max-width: 100%;
                            height: auto;
                            position: relative;
                            z-index: 1;                          
                        }
                    }
                }
               
            }

            img {
                border-radius: 30px 0 30px 0;
                height: auto;
                max-width: 100%;
                @media (min-width: 992px) {
                    border-radius: 100px 0 100px 0;
                }                              
            }
        }
    }
} 

