.site-deals {
    padding-top: 20px;
    padding-bottom: 20px;
    
    @media (min-width: 992px) {
        padding-top: 90px;
        padding-bottom: 30px;
        .content {
            padding-bottom: 10px;
        }
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .deals {
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width:992px) {
            padding-left: 0;
            padding-right: 0;
        }
        .owl-stage-outer {
            padding-top: 30px;
        }
        .owl-dots {
            display: flex;
            justify-content: center;
            padding-top: 30px;
            button {
                background-color: $primary-theme-color;
                border: none;
                box-shadow: none;
                opacity: .2;
                height: 5px;
                width: 50px;
                margin-left: 10px;
                margin-right: 10px;
                transition: opacity .2s ease-in-out;
                &.active {
                    opacity: 1;
                }
            }
        }
        .item {   
            cursor: pointer;
            margin: auto;      
            padding-top: 30px;
            @media (min-width:992px) {
                padding-top: 0;
            }
            padding-right: 15px;
            position: relative;
            text-align: center;
            top: 0;
            transition: top .2s ease-in-out;
            &.item-favorite {
                padding-top: 0;
            }
            &:hover {
                top: -5px;
                .favorite-deal {
                    background-color: $kings-theme-color;
                }
                .image {
                    h3 {
                        bottom: 70px;
                        text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
                    }   
                              
                    .price {
                        bottom: 60px;
                        text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
                    }
                }
            }
            .button { margin: auto; }

            .favorite-deal {            
                background-color: #ec473b;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                color: white;                          
                font-family: 'Merriweather', serif;
                font-size: 1.4rem;
                text-transform: uppercase;                        
                padding: 3.5px 3.5px 3.5px 7.5px;
                width: fit-content;
                position: relative;
                right: 0;
                top: 10px;
                @media (min-width:992px) {
                    position: absolute;                
                    left: 135px;
                    bottom: 80px;    
                    top: inherit;
                }
                
                @media (min-width:992px) {
                    bottom: 40px;
                }
                transition: background-color .4s ease-in-out;
                z-index: 2;       
                        
                i { padding-left: 7.5px; padding-right: 7.5px;}
            }         

            .image {
                position: relative;
                margin-bottom: 30px;
                h3 {   
                    bottom: 30px;
                    padding-bottom: 0;
                    position: absolute;                    
                    text-transform: uppercase;
                    text-align: center;
                    transition: bottom .3s ease-in-out;
                    z-index: 5;                     
                    width: 100%;
                    a {
                        color: $primary-theme-color;
                        text-decoration: none;
                        transition: color .5s ease-in-out;
                    }
                }
                .price {
                    bottom: 15px;
                    color: white;
                    font-size: 1.4rem;
                    left: 0;
                    padding-bottom: 0;
                    position: absolute;
                    text-align: center;
                    text-transform: lowercase;
                    z-index: 5;                     
                    width: 100%;
                    text-shadow: inherit;
                    transition: all .4s ease-in-out;
                }
                picture {
                    display: flex;
                    position: relative;
                    overflow: hidden;
                    &::after {
                        background: rgb(0,0,0);
                        background: linear-gradient(0deg, rgba(0,0,0,0.8547794117647058) 35%, rgba(255,255,255,0) 100%);
                        border-bottom-right-radius: 30px;
                        bottom: 0;
                        content: '';
                        height: 120px;
                        position: absolute;
                        width: 100%;
                    }
                    @media (min-width:992px) {
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        z-index: 1;
                        
                        &::after {
                            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
                            border-bottom-right-radius: 100px;
                            content: '';                        
                            display: block;
                            height: 100%;
                            margin: auto;
                            left: -230px;     
                            position: absolute;
                            right: 0;
                            top: 0;                        
                            transform: skewX(-25deg);
                            width: 640px;                        
                            z-index: 2;
                            transition: background .4s ease-in-out;
                        }                      
                        &::before {
                            background: rgb(0,0,0);
                            background: linear-gradient(0deg, rgba(0,0,0,0.8519782913165266) 30%, rgba(255,255,255,0) 100%);
                            border-bottom-right-radius: 30px;
                            @media (min-width: 992px) {
                                border-bottom-right-radius: 100px;    
                            }                        
                            bottom: 0;
                            content: '';
                            height: 30%;
                            margin: auto;
                            left: 0;
                            right: 0;                        
                            width: 640px;
                            position: absolute;
                            z-index: 2;
                            transition: height .3s ease-in-out;
                        }
                        img {
                            max-width: 100%;
                            height: auto;
                            position: relative;
                            z-index: 1;                          
                        }
                    }
                }
               
            }

            img {
                border-radius: 30px 0 30px 0;
                height: auto;
                max-width: 100%;
                @media (min-width: 992px) {
                    border-radius: 100px 0 100px 0;
                }                              
            }
        }
    }
} 

@keyframes shine {
	100% {
		left: 125%;
	}
}