.site-footer {
    background-color: #f7f7f7; 
    font-size: 1.6rem;
    padding-top: 30px;

    a {
        &:hover{
            color: $primary-theme-color;
        }
    }

    .footer-intro {
        .site-logo {
            @media (min-width: 768px) and (max-width: 992px){
                align-items: center;
                justify-content: center;
            }
            display: flex;
            padding-bottom: 15px;
        }
        .social {
            @media (min-width: 768px) and (max-width: 992px){
                align-items: center;
                justify-content: center;
            }
            justify-content: flex-start;
            padding-bottom: 15px;
            @media (min-width: 992px) {
                padding-bottom: 0;
            }
            li {
                &:first-child {
                    padding-left: 0;
                }
            }
        }        
    }
    
    ul { 
        padding-top: 15px; 
    }


    .title {
        display: table;
        font-family: $heading-font-family;
        font-weight: 700;                 
        padding-top: 15px;
        @media (min-width: 992px) {
            padding-top: 0;
        }       
    }

    .company-hours {
        width: 65vw;
        @media (min-width: 768px) {
           width: auto;     
        }  
        li {
            align-items: center;
            display: flex;
            justify-content: space-between;                
            
        }
    }
    .primary {
        padding-bottom: 30px;
    }
    .secondary {
        border-top: 1px solid $primary-theme-color;
        padding-bottom: 15px;
        padding-top: 15px;
        a {
            text-decoration: none;
        }
        ul {
            align-items: center;
            display: flex;
            flex-direction: column;   

            @media (min-width:1200px) {                
                justify-content: center;
                flex-direction: row;
            }
            padding-top: 0;
            position: relative;
          
            li {
                display: inline-block;
                padding-bottom: 7.5px;
                padding-top: 7.5px;
                padding-left: 5px;
                padding-right: 5px;
                position: relative;

                @media (min-width:1200px) {
                    padding-bottom: 0;
                    padding-top: 0;

                    &:not(:first-child,:last-child,:nth-last-child(2)){
                        &::after {
                            content: ', ';
                        }
                    }    
                }
                
                &:first-child {
                    padding-left: 0;
                    @media (min-width:1200px) {
                    padding-right: 65px;                    
                        &::after {
                            background-color: $primary-theme-color;
                            content: '';
                            height: 1px;
                            width: 45px;
                            bottom: 10px;
                            right: 0;
                            margin-right: 10px;                   
                            position: absolute;
                        }
                    }
                }

                &:last-child {
                    padding-right: 0;

                    @media (min-width:1200px) {
                        margin-left: auto;      
                    }
                    .button {
                        &:hover {
                            background-color: $kings-theme-color;
                            border:1px solid white;
                            color: $white;
                        }
                    }              
                }
            }
        }
    }
}

.whatsapp {     
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    z-index: 10;        
    a { 
        text-decoration: none;        
        picture {            
            display: block;     
            width: fit-content;            
        }
    }
}
