.site-footer {
    background-color: #f7f7f7; 
    font-size: 1.6rem;
    padding-top: 30px;

    a {
        &:hover{
            color: $primary-theme-color;
        }
    }

    .footer-intro {
        .site-logo {
            display: flex;
            padding-bottom: 15px;
        }
        .social {
            justify-content: flex-start;
            li {
                &:first-child {
                    padding-left: 0;
                }
            }
        }        
    }
    
    ul { padding-top: 15px; } 

    .title {
        font-family: $heading-font-family;
        font-weight: 700;                        
    }

    .company-hours {
        li {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }
    .primary {
        padding-bottom: 30px;
    }
    .secondary {
        border-top: 1px solid $primary-theme-color;
        padding-bottom: 15px;
        padding-top: 15px;
        .avg {
            align-items: center;
            display: flex;
            justify-content: space-between;

            ul {
                align-items: center;
                display: flex;
                justify-content: flex-start;
                padding-top: 0;
                @media (min-width: 992px) {
                    margin-left: 15px;
                    padding-left: 75px;
                    position: relative;
                    &::before {
                        background-color: $primary-theme-color;
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        height: 1px;
                        width: 50px;
                    }
                }
                li {
                    padding-bottom: 7.5px;
                    @media (min-width: 992px) {
                        &:first-child {
                            padding-left: 0;
                        }
                        padding-left: 7.5px;
                        padding-right: 7.5px;
                        &:last-child {
                            padding-right: 0;
                            margin-left: auto;
                            
                        }
                    }
                    a {
                        text-decoration: none;
                        &:hover {
                            color: $primary-theme-color;
                        }
                    }
                }
            }
        }
    }
}

.whatsapp {     
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    z-index: 100;        
    a { 
        text-decoration: none;        
        picture {            
            display: block;     
            width: fit-content;            
        }
    }
}
