footer {
    &.site-footer {              
        .footer {
            background-color: #c5b9ac;        
            color: white;
            margin-top: 40px;
            padding-bottom: 40px;
            padding-top: 40px;
        }
        
        .impression {
            padding-top: 20px;
        }
        @media (min-width: 992px) {
            .branding {
                max-width: 60%;
            }
        }
        a { color: white; }

        .shortcut-items {
            align-items: center;
            display: flex;
            justify-content: flex-start;
            @media (min-width: 992px) {
                justify-content: space-between;
                flex-direction: row;
            }
        }
        ul {
            &.social-media {
                align-items: center;
                display: flex;
                @media (min-width:992px) {
                    padding-top: 20px;
                }
                li {
                    padding-right: 40px;
                    &:last-child { padding-right: 0; }
                    a {
                        color: white;
                        transition: color .2s ease-in-out;
                        &:hover { color: #333; } 
                        i { font-size: 3.2rem; }
                    }
                }
            }

            &.shortcuts {   
                padding-top: 20px;
                @media (min-width:992px) {
                    padding-top: 54px;
                }
                li {
                    &:first-child {
                        font-weight: 700;
                        font-size: 1.9rem;
                    }
                    a {
                        border-bottom: 0;
                        color: white;
                        text-decoration: none;
                        transition: all .2s ease-in;
                        &:hover {
                            border-bottom: 1px solid white;
                        }
                    }
                }
            }
        }
        
        .info {
            @media (min-width:992px) {
                padding-top: 85px;
            }
        }
        .copy {
            background-color: rgb(130, 124, 120);                        
            color: white;
            padding-bottom: 20px;
            padding-top: 20px; 

            ul {
                @media (min-width:992px) {
                    align-items: center;
                    display: flex;
                    justify-content: flex-start;
                }
                li {
                    @media (min-width:992px) {
                        padding-right: 15px;
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

.whatsapp {
    
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    z-index: 100;        
    a { 
        text-decoration: none;        
        picture {            
            display: block;     
            width: fit-content;            
        }
    }
}
