.wpcf7 {
    width: 100%;

    .codedropz-upload-handler {
        border: 1px solid #c5c5c5;
    }
    .codedropz-upload-inner {
        height: 70px;                
        h4 {
            font-family: $primary-theme-font;
            font-size: 1.4rem;
            font-weight: normal;
            margin: 0;
        }
    }
    .cd-upload-btn {
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 1.4rem;
        padding-bottom: .5rem;
    }

    br { display: none; }    
    
    hr {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid lighten($secondary-theme-color,70%);                
        overflow: visible;
        height: 15px;
        margin: 20px auto; 
        margin-bottom: 25px;                               
        position: relative;
        width: 100%;
        &::before {
            content: '';
            background-color: lighten($secondary-theme-color,70%);
            display: flex;
            border-radius: 100px;
            height: 10px;
            margin: auto;
            top: 10px;
            left: 0;
            right: 0;
            width: 10px;
            position: absolute;
        }
    }

    label {
        align-items: center;
        display: flex;
        font-weight: 600;
        padding-bottom: .5rem;
        i {
            font-size: 1.2rem;
            padding-left: .5rem;
        }
    }
 
    .form-group {
        &.group {
            display: flex;            
            flex-direction: column;
            @media (min-width:992px) {
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }
        }
        .group {
            display: flex;
            flex-direction: column;
            padding: 5px;
            margin: 0 -5px;
            @media (min-width:992px) {
                width: 50%;
            }
            label { font-size: 1.4rem; }
        }
    }

    select {
        &.wpcf7-select {
           //@extend .custom-select-lg;
        }
    }

    input {
        &[type="submit"] {
            cursor: pointer;
            font-size: 1.6rem;
        }

        &.form-control {
            appearance: none;
            height: auto;
            width: auto;
            margin: 0;
            padding: 0;
            border-radius: 0;
            border: 0;
            background: none;
            font-family: inherit;
            font-size: 1.6rem;
            width: 100%;
            height: 48px;
            padding: 0 1em;
            border-radius: .25em;
            border-left: .25em solid transparent;
            background-color: lighten($secondary-theme-color,80%);
            color: $secondary-theme-color;
            transition: all .15s ease-in-out;
            &:hover {
                border-color: $primary-theme-color;
                background-color: #f3f6f8;
            }
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }           
    }
    
    textarea {
        appearance: none;
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border: 0;
        background: none;
        font-family: inherit;
        font-size: 1.6rem;
        width: 100%;
        height: 150px;
        padding: 1em;
        border-radius: .25em;
        border-left: .25em solid transparent;
        background-color: lighten($secondary-theme-color,80%);
        color: $secondary-theme-color;
        transition: all .15s ease-in-out;
        resize: none;
        &:hover {
            border-color: $primary-theme-color;
            background-color: #f3f6f8;
        }
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }

    form {
        &.invalid {
            .wpcf7-response-output { border: none; }
        }
        .wpcf7-response-output {
            margin: 0;
            padding: 0;
        }
    }

    .wpcf7-radio {
        display: flex;
        flex-direction: column;                     
        padding-top: 1rem;
        .wpcf7-list-item { margin: 0; }
        label {
            align-items: baseline;
            align-content: center;
            display: flex;
            input {
                margin: 0;
                padding: 0;
                opacity: 0;
                width: 0;
                height: 0;
                &:checked + .wpcf7-list-item-label {                            
                    border-bottom: 1px solid #00b900;
                    color: #00b900;
                    opacity: 1;
                    position: relative;
                    &::before {
                        content: "";
                        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z' clip-rule='evenodd'/></svg>");
                        background-repeat: no-repeat;
                        background-size: 2rem 2rem;                                
                        fill: #00b900;
                        bottom: 0;
                        height: 25px;
                        width: 25px;
                        position: absolute;
                        left: 0;
                    }                            
                }
            }

            .wpcf7-list-item-label {
                border-bottom: 1px solid $secondary-theme-color;
                cursor: pointer;
                line-height: 3.5rem;
                padding-left: 2.5rem;
                transition: all .2s ease-in;
                opacity: .4;
                width: 100%;
                &:hover {
                    border-bottom: 1px solid $secondary-theme-color;
                    opacity: 1;
                }
            }
        }
    }

    div {
        &[data-wpcf7-group-id="sizes"] {
            padding-top: 1.5rem;
            .wpcf7-field-group {
                &:not(:first-child) {
                    border-top: 1px solid #f3f3f3;
                    margin-top: 1rem;
                }
                &:last-child {
                    padding-bottom: 1rem;
                }
                .wpcf7-field-group-content {
                    align-items: flex-start;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    input {
                        appearance: none;
                        height: auto;
                        width: auto;
                        margin: 0;
                        padding: 0;
                        border-radius: 0;
                        border: 0;
                        background: none;
                        font-family: inherit;
                        font-size: 1.6rem;                        
                        height: 48px;
                        width: 100%;
                        padding: 0 1em;
                        border-radius: .25em;
                        border-left: .25em solid transparent;
                        background-color: #f2f2f2;
                        color: #262626;
                        margin-bottom: 1.5rem;                        
                        transition: all .15s ease-in-out;
                    }
                    @media (min-width:992px) {
                        input:not(:first-child){  
                            margin-right: 1.5rem;                      
                            width: 47%;
                        }
                        input:last-child { 
                            width: 50%;
                            margin-right: 0; 
                        }
                    }
                }       
                div {
                    align-items: center;
                    display: flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    padding-top: 1rem;
                    .wpcf7-field-group-add  {                       
                        background-color: #e0e0e0;
                        border-radius: .4rem;
                        padding: 1.2rem 2.4rem;
                        border: none;
                        cursor: pointer;                                 
                        margin-left: .5rem;
                        &:hover {
                            background-color: #b8b8b8;
                        }                       
                    } 
                    .wpcf7-field-group-remove  {                              
                        background-color: #f3f3f3;
                        border: none;
                        border-radius: .4rem;
                        cursor: pointer;
                        padding: 1.2rem 2.4rem;
                        &:hover {
                            background-color: #e6e6e6;
                        }  
                    }
                } 
            }                    
        }

        &[data-class="wpcf7cf_group"]:not([data-id="packages-custom"]) {
            margin: 1.5rem auto;
            color: $secondary-theme-color;
            width: 100%;
            position: relative;
        }

        &[data-id="appointment"] {                      
            label {
                color: #827c78;
                display: block;
                &:first-child { font-weight: normal; }                
                &.city { padding-top: 1.5rem; }
            }
        }
    }

    .privacy {
        .wpcf7-acceptance {
            padding-bottom: 0;
            label {
                position: relative;
                cursor: pointer;
            }
            input[type=checkbox] {
                position: absolute;
                visibility: hidden;
                width: 20px;
                height: 20px;
                top: -2px;
                left: -2px;
              
            }
            input[type=checkbox]:checked + .wpcf7-list-item-label::before {
                background: transparent;
                background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z' clip-rule='evenodd'/></svg>");
                background-repeat: no-repeat;
                background-size: 2rem 2rem;
                height: 20px;
                width: 20px;
                color: $secondary-theme-color;                        
                visibility: visible;
            }
            .wpcf7-list-item-label {
                padding-left: 2.9rem;
                &::before {
                    display: block;
                    position: absolute;
                    content: '';
                    border-radius: .4rem;
                    height: 20px;
                    width: 20px;
                    top: 0px;
                    left: 0;
                    border: 1px solid $secondary-theme-color;
                }
            }
            .wpcf7-list-item {
                margin: 0;
                padding-bottom: 0;
                label {
                    padding-bottom: 0;
                }
            }
        }
    }
}