.site-header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    z-index: 5;
    
    .site-branding {         
        position: relative;
        padding-top: 15px;
        z-index: 25;           
    }
    
    @media (max-width: 1023px) {       
        .site-navigation {
            background: white;
            border-bottom-right-radius: 10rem;
            box-shadow: 0 0.2rem 2.3rem 0 rgba(30, 30, 30, .5);
            font-size: 1.8rem;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 95%;
            width: 100%;
            transition: transform .4s cubic-bezier(.42,0,.18,.99);
            overflow-y: auto;
            opacity: 0;
            padding-bottom: 40px;
            padding-top: 190px;
            will-change: transform;
            transform: translate3d(0,-100%,0);        
            z-index: 20;
            ul {
                line-height: 2;
                padding: 0 15px;

                li {
                    border-bottom:1px solid #dadada;
                
                    a {
                        text-decoration: none;
                        transition: all .2s ease-in ;
                        &:hover, 
                        &:focus,
                        &:active {
                            color: $primary-theme-color;
                        } 
                    }
                }
            }
            &.is-open {
                transform: translateZ(0);
                opacity: 1;
                
            }
        }
    }
}

@keyframes menu-column-transition-opening {
    0% {
        opacity: 0;    
        transform: translateY(100px)
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@media (min-width: 992px) {    
    .site-header {
        margin: auto;
        max-width: 960px;
        position: relative;
      
        .site-navigation {
            .menu {
                max-width: 960px; 
                height: 130px;
                display: flex;
                align-items: center;
                justify-content: flex-start;       
                li {                    
                    padding-right: 15px;
                    &.current_page_item  {
                        a { border-color: $primary-theme-color; }
                    }
                } 
                a {
                    border-bottom: 1px solid transparent;
                    font-size: 1.4rem;
                    text-decoration: none;
                    transition: all .1s ease-in-out;
                    text-transform: uppercase;
                    &:hover {                        
                        border-color: $primary-theme-color;                    
                        color: $primary-theme-color;
                    }
                }
            }
        }

        .site-social-media {
            display: none;
        }
        
    }
}

@media (min-width: 1200px) {
    .site-header {
        align-items: center;
        background-color: transparent;
        justify-content: space-between;
        max-width: 1140px;
        .site-navigation {            
            .menu {
                display: flex;
                li {                    
                    padding-left: 30px;
                    padding-right: 0;
                    &.current_page_item  {
                        a { border-color: $primary-theme-color; }
                    }
                }
            }
            a {
                border-bottom: 1px solid transparent;
                text-decoration: none;
                transition: all .1s ease-in-out;
                &:hover {
                    border-color: $primary-theme-color;                    
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .site-header {
        max-width: 1320px;       
    }
}