/* --------------------------------------------------------------------
 * Header
 * ----------------------------------------------------------------- */
.site-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 15px;
    position: relative;
    z-index: 5;
    .site-branding {         
        position: relative;
        z-index: 10;           
    }

    .site-navigation {
        background: white;
        border-bottom-right-radius: 10rem;
        box-shadow: 0 0.2rem 2.3rem 0 rgba(30, 30, 30, .5);
        font-size: 1.9rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 98%;
        width: 100%;
        transition: transform .4s cubic-bezier(.42,0,.18,.99);
        overflow-y: auto;
        padding-top: 100px;
        will-change: transform;
        transform: translate3d(0,-100%,0);        
        z-index: 1;
        ul {
            line-height: 2;
            padding: 0 15px;

            li {
                border-bottom:1px solid #dadada;
                animation: menu-column-transition-opening .6s cubic-bezier(.785,.135,.15,.86) both;
                &:nth-child(1n) {
                    animation-delay: .8s
                }
                &:nth-child(2n) {
                    animation-delay: 1s;
                }
                &:nth-child(3n) {
                    animation-delay: 1.2s;
                }
                &:nth-child(4n) {
                    animation-delay: 1.4s;
                }
                &:nth-child(5n) {
                    animation-delay: 1.6s;
                }
                &:nth-child(6n) {
                    animation-delay: 1.8s;
                }
                a {
                    @extend .transition;
                    &:hover, 
                    &:focus,
                    &:active {
                        color: $primary-theme-color;
                    } 
                }
            }
        }
        &.is-open {
            transform: translateZ(0);
        }
    }
}

@keyframes menu-column-transition-opening {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}
