.site-highlighted {
    padding-bottom: 30px;
    padding-top: 15px;
    ul {
        padding-bottom: 15px;
        li {     
            padding: 10px;
            a {
                cursor: pointer;
            }
            img {
                border-radius: 0 40px 0 40px;                              
            }             
        }
    }
}