.site-highlighted {
    padding-bottom: 30px;
        
    ul {
        column-count: 2;
        margin: 5px -15px;
        @media (min-width:768px) {
            column-count: 3;    
            margin: 0;
        }
        padding-bottom: 15px;
        
        li {     
            padding: 15px;            
            a {
                cursor: pointer;
            }
            img {
                border-radius: 0 30px 0 30px;
                @media (min-width:768px) {
                    border-radius: 0 100px 0 100px;
                }
            }             
        }
    }
}