.site-highlighted {
    padding-top: 2.5em;
    ul {
        li {
            margin-bottom: 1.2em;
            img {
                border-radius: 0 40px 0 40px;
            }             
        }
    }
}