.site-locations {
    padding-bottom: 4.5rem;
    padding-top: 1.5rem;
    text-align: center;
    .locations {
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        text-align: center;
    }
}