.site-packages {    
    padding-top: 20px;
    @media (min-width:992px) {
        padding-top: 60px;   
    }
    .item {
        padding-bottom: 30px;   
        &.item-favorite {
            @media (min-width:768px) and (max-width: 1023px) {
                margin-top: -25px;
            }
        }     
    }
    .package {        
        align-items: center;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;        
        position: relative;
        a {
            text-decoration: none;
        }
        .price {
            strong {
                font-weight: normal;
            } 
        }

        .favorite-deal {            
            background-color: #ec473b;
            border-bottom-right-radius: 10px;
            color: white;                      
            font-size: 1.4rem;
            text-transform: uppercase;                        
            padding: 3.5px 3.5px 3.5px 15px;
            width: fit-content;
            position: relative;
            right: 0;
            top: 25px;
            @media (min-width:992px) {
                position: absolute;                
                top: 40px;
                transform: rotate(90deg);
            }
            transition: background-color .4s ease-in-out;
            z-index: 2;       
                    
            i { padding-left: 7.5px; padding-right: 7.5px;}
        }   

        .box {
            align-items: center;
            background-color: #f2f2f2;            
            color: #827c78;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            padding: 5px;
            @media (min-width:992px) {
                padding: 15px 60px;
            }
            position: relative;
            top: -30px;
            line-height: 1,2;
            z-index: 5;
        }

        .title {
            font-size: 1.7rem;
            @media (min-width:992px) {
                font-size: 1.9rem;        
            }    
            margin: 0;
            a {
                color: #827c78;                
                text-decoration: none;
            }
        }
        .price {
            font-size: 1.4rem;
        }
        picture {            
            display: flex;
            position: relative;                    
            &::before {
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,0.8547794117647058) 35%, rgba(255,255,255,0) 100%);
                border-bottom-right-radius: 30px;
                @media (min-width:992px) {
                    border-bottom-right-radius: 100px;                    
                }
                bottom: 0;
                content: '';
                height: 120px;
                position: absolute;
                width: 100%;
                z-index: 1;
            }
            @media (min-width:1200px) {   
                &::after {
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);                
                    content: '';                        
                    display: none;
                    @media (min-width:992px) {
                        display: block;
                    }
                    height: 100%;
                    margin: auto;
                    left: -235px;     
                    position: absolute;
                    right: 0;
                    top: 0;                        
                    transform: skewX(-25deg);
                    width: 640px;                        
                    z-index: 1;
                } 
            } 
        }
        img {
            border-radius: 30px 0 30px 0;
            height: 40vh;
            @media (min-width:1200px) {  
                height: 50vh;
            }
            max-width: 100%;
            object-fit: cover;
            position: relative;                     
            @media (min-width: 992px) {
                box-shadow: 0 0 40px 0 rgba($secondary-theme-color,.6);
                border-radius: 100px 0 100px 0;                
            }                 
                     
        }
    }
}