.site-propositions {
    background-color: $primary-theme-color; 
    color: white;
    padding: 1rem 1.2rem;
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 30;
    ul {
        animation: 10s normal infinite running scroll;
        align-items: center;
        justify-content: center;
        display: flex;    
        flex-direction: column;
        font-size: 1.4rem;
        
        li {            
            height: 45px;
            margin-top: -10px;
            overflow: hidden;
            padding-left: 15px;
            padding-right: 15px;
            
            i { padding-right: 5px; }
            &:first-child { padding-left: 0; }
            &:last-child  { padding-right: 0; }
        }
    }
}

@keyframes scroll {
    0%  	{margin-top: 0px;}
    15% 	{margin-top: 0px;}
 
    25%  {margin-top: -35px;}
    40%  {margin-top: -35px;}
    
    50%  {margin-top: -70px;}
    65%  {margin-top: -70px;}
 
    75%  {margin-top: -105px;}
    90%  {margin-top: -105px;}
 
    100% {margin-top: 0px;}
 }

@media (min-width: 992px) {
    .site-propositions {
        ul {
            animation: none;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}