.site-reviews {    
    padding-top: 15px;
    padding-bottom: 60px;   

    ul {
        align-items: center;
        display: flex;     
        justify-content: center;

        li {
            padding-left: 7.5px;
            padding-right: 7.5px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }

            svg {
                fill: $kings-theme-color;
                height: 25px;
                width: 25px;
            }
        }
    }  

    .reviews {
        padding-top: 30px;
      
        .item {
            align-items: center;
            background-color: white;
            border-radius: 7px;
            box-shadow: 0 10px 40px 0 #2c498426;
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
            }
            
            margin-bottom: 30px;
            position: relative;            
            
            .image {
                padding: 15px;
                @media (min-width: 768px) {
                    width: 27%;
                }
                @media (min-width: 992px) {
                    width: 31%;
                }
                img {
                    border-radius: 0 15px 0 15px;                    
                }
            }
            .review {
                color: $secondary-theme-color;
                font-size: 1.5rem;
                padding: 15px;
                @media (min-width: 768px) {
                    padding: 15px 15px 15px 0;
                }
                text-align: left;
                &.with-out-img {
                    text-align: center;
                    margin: auto;
                    padding: 15px;                    
                    .name {
                        margin-left: auto;
                    }
                }
                .name {
                    color: $primary-theme-color;
                    display: table;
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;
                    padding-left: 20px;
                    &::before {
                        background-color: $primary-theme-color;
                        bottom: 7px;
                        content: '';
                        height: 1px;
                        width: 15px;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }

}