.site-reviews {    
    padding-top: 1em;
    padding-bottom: 1em;   
    @media (min-width: 768px) {   
        padding-top: 2.5em;
        padding-bottom: 2.5em;   
    } 
    
    h4   { margin-bottom: 0; }
    p    { margin: 0 }
    .btn { margin: auto; }

    .review {
        align-items: center;
        display: flex;
        justify-content: space-between;        
        flex-direction: column;
        padding-top: 1.5em;
        
        .review-banner {
            align-items: center;
            background-color: $primary-theme-color;
            border-radius: 0 40px 0 40px;            
            color: white;            
            display: flex;
            justify-content: center;   
            flex-direction: column;               
            font-family: $secondary-theme-font;
            font-size: 2.1rem;
            height: 305px;            
            text-align: center;
            width: 100%;
        }
        .review-social {
            padding-top: 1em;
        }
        .review-user {
            align-items: center;
            bottom: 60px;
            display: flex;
            justify-content: space-between;                        
            width: calc(100% - 15px);
            position: absolute;
            
            span {
                &:first-child {
                    background-color: white;
                    border-radius: 0 50px 50px 0;
                    font-size: 14px;
                    letter-spacing: 2px;
                    text-transform: uppercase;                     
                    padding: 10px 25px 10px 5px;
                }
                &:last-child { 
                    align-items: center;
                    border-radius: 100%;
                    background-color: $primary-theme-color;
                    color: white;
                    display: flex;
                    justify-content: center;
                    height: 35px;
                    width: 35px;
                }
            }
            img {
                border-radius: 100%;
            }
        }

        .review-picture {
            padding-bottom: 1em;            
            position: relative;
            
            img {                
                border-radius: 0 40px 0 40px;
                object-fit: cover;                
                min-height: 305px;
                width: 100%;             
            }
        }
    }
}

