.site-selling-points {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 40vh;
        @media (min-width: 1200px) {
            height: 25vh;
        }
        background-color: #f7f7f7;
        bottom: -20px;
        
        z-index: -1;
    }
    .wrapper {
        background-color:white;
        background-image: url('../img/ruler-black.png');
        background-repeat: repeat-x;
        background-position: bottom;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;                
        padding: 40px 15px;        
        @media (min-width: 1200px) {
            padding-left: 30px;
            padding-right: 30px;
        }
        
        ul {
            align-items: center;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media (min-width: 1200px) {
                flex-direction: row;
            }
            
            li {
                border-bottom: 1px solid #f8f9fa;
                display: flex;
                flex-direction: row;
                @media (min-width: 1200px) {
                    align-items: center;
                    flex-direction: row;
                    justify-content: flex-end;
                }
                font-family: $heading-font-family;
                @media (min-width:99px) {
                    font-size: 1.9rem;    
                }                
                line-height: 1.2;
                margin-bottom: 15px;
                padding-bottom: 15px;
                width: 100%;
                @media (min-width: 1200px) {
                    border-bottom: none;
                    margin: 0;
                    padding-bottom: 0;
                    padding-right: 15px;
                    width: 34%;
                }
                &:last-child {
                    padding-right: 0;
                }
                @media (min-width: 1200px) {
                    &:nth-child(2) {
                        width: 36%;
                    }
                }
                &:first-child {
                    align-items: center;
                    border-bottom: 0;
                    justify-content: flex-start;
                    flex-direction: column;
                    font-family: $heading-font-family;
                    font-size: 2.1rem;                    
                    font-weight: normal;                   
                    line-height: 1;        
                    padding-bottom: 25px;
                    @media (min-width: 1200px) {
                        padding-bottom: 0;
                    }
                    padding-right: 0;      
                    text-align: center;   
                    
                    .icon {              
                        i {                        
                            color: $kings-theme-color;
                            padding-left: 5px;
                            padding-right: 5px;
                            padding-bottom: 5px;
                            font-size: 1.4rem;

                        }
                    }
                    span:last-child {
                        font-family: $body-font-family;
                        font-weight: 400;
                        font-size: 1.6rem;
                    }
                }                               
                .icon {
                    align-items: center;
                    color: $kings-theme-color;
                    display: flex;
                    justify-content: center;
                    padding-bottom: 0;
                    padding-right: 15px;
                    i {
                        font-size: 2.6rem;
                    }
                }
            }

        }
    }
}