.sidebar {
    align-items: flex-start;
    background-color: #f3f3f3;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 1rem;   
    margin-bottom: 2.5rem;
    padding: 2rem 1.5rem;

    ul {
        list-style: disc;
        margin-left: 23px;
    }

    .buttons {
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        flex-direction: column;       
        width: 100%;
        a {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 1.5rem;            
        }
    }    
}

@media (min-width: 992px) {    
    .sidebar {
        margin-top: -1.5rem;
        padding: 4rem;                
    }
}

@media (min-width: 1200px) {
    .sidebar {
        .buttons {
            flex-direction: row;
            a {
                margin-bottom: inherit;
            }
        }
    }
}