.sidebar {
    align-items: flex-start;
    background-color: #f3f3f3;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 1rem;   
    margin-bottom: 2.5rem;
    padding: 2rem 1.5rem;
    
    @media (min-width: 992px) {            
        margin-top: -1.5rem;
        padding: 4rem;                
    }
    
    ul {
        list-style: disc;
        margin-left: 23px;
    }

    .buttons {
        align-self: flex-start;
        border-top: 1px solid $primary-theme-color;
        display: flex;
        justify-content: space-between;
        flex-direction: column;       
        @media (min-width: 1200px) {
            flex-direction: row;
        }
        width: 100%;
        margin-top: 15px;
        padding-top: 30px;
        a {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 1.5rem;     
            @media (min-width: 1200px) {
                margin-bottom: inherit;
            }       
        }
    }    
}