.site-upperbar {
    background-color: $primary-theme-color;         
    position: relative;
    z-index: 100;    
    ul {
        align-items: center;
        display: flex;            
        justify-content: space-between;    
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 992px) {
            justify-content: flex-start;
            max-width: 960px;            
        }
        @media (min-width: 1200px) {
            max-width: 1140px;
        }
        @media (min-width: 1400px) {
            max-width: 1320px;
        }
        li {
            padding-top: 5px;
            padding-bottom: 5px;            
            width: fit-content;
            &:first-child {
                @media (min-width: 992px) {
                    padding-right: 30px;
                }
                span {
                    &:last-child { 
                        display: none;
                        @media (min-width: 410px) {
                            display: inline-block;
                        }
                    }
                }
            }
            &:nth-child(2) {
                @media (min-width: 992px) {
                    padding-right: 0;
                }
                span {
                    &:last-child { 
                        display: none;
                        @media (min-width: 410px) {
                            display: inline-block;
                        }
                    }
                }
            }
            &:nth-child(3) {
                display: none;
                @media (min-width: 800px) {
                    display: inline-block;
                    padding-left: 30px;
                }
                margin-left: auto;
            }
            @media (min-width: 800px) {
                &:nth-child(4) {
                    padding-left: 30px;
                }
            }
            &:last-child {
                display: none;
                @media (min-width: 800px) {
                    display: inline-block;
                }
                padding-right: 0;
            }
            a {
                align-items: center;
                color: white;
                display: flex;            
                text-decoration: none;
                transition: color .2s ease-in-out;
                &:hover {
                    color: $secondary-theme-color;
                }

                .icon {
                    display: flex;
                    font-size: 2rem;
                    @media (min-width: 375px) {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}