@import "abstracts/variables";

@import "vendors/bootstrap-5.0.2/bootstrap",
        "vendors/hamburgers/hamburgers",        
        "vendors/fontawesome-5.15/fontawesome",
        "vendors/fontawesome-5.15/brands",
        "vendors/fontawesome-5.15/solid",
        "vendors/fontawesome-5.15/regular",
        "vendors/swiperjs-6.8.0/swiper.scss",
        "vendors/swiperjs-6.8.0/swiper-vars.scss";
       
@import "base/fonts",
        "base/base";

@import "layout/calltoaction",
        "layout/contact-widget",
        "layout/deals",
        "layout/header",
        "layout/footer",
        "layout/forms",
        "layout/locations",
        "layout/highlighted",
        "layout/packages",
        "layout/upperbar",
        "layout/reviews",
        "layout/sidebar",
        "layout/sellingpoints";

@import "components/buttons",
        "components/calculator",
        "components/socials",
        "components/widget",  
        "components/tabs";

@import "pages/front-page",
        "pages/quotation-page",
        "pages/page";
