@import "abstracts/variables";

@import "vendors/bootstrap-5.0.2/bootstrap",
        "vendors/hamburgers/hamburgers";

@import "base/fonts",
        "base/base";

@import "layout/customers",
        "layout/contact-widget",
        "layout/deals",
        "layout/header",
        "layout/footer",
        "layout/forms",
        "layout/locations",
        "layout/highlighted",
        "layout/packages",
        "layout/upperbar",
        "layout/sidebar",
        "layout/sellingpoints";

@import "components/buttons",
        "components/calculator",
        "components/widget",        
        //"components/modal",
        //"components/sticky",
        "components/tabs";
        //"components/tns";

@import "pages/front-page",
        "pages/quotation-page",
        "pages/page";
