@import "abstracts/variables";

@import "vendors/bootstrap/bootstrap",
        "vendors/fancybox/fancybox",
        "vendors/fontawesome/fontawesome",
        "vendors/fontawesome/brands",
        "vendors/fontawesome/regular",
        "vendors/fontawesome/solid",
        "vendors/hamburgers/hamburgers",
        "vendors/owlcarousel/owl.carousel",
        "vendors/owlcarousel/owl.theme.default",
        "vendors/owlcarousel/owl.theme.green",
        "vendors/tinyslider/tiny-slider";  

@import "base/fonts",
        "base/base";

@import "layout/customers",
        "layout/contact-widget",
        "layout/deals",
        "layout/header",
        "layout/footer",
        "layout/forms",
        "layout/locations",
        "layout/highlighted",
        "layout/packages",
        "layout/upperbar",
        "layout/sidebar",
        "layout/sellingpoints";

@import "components/buttons",
        "components/calculator",
        "components/widget",        
        "components/modal",
        "components/sticky",
        "components/tabs",
        "components/tns";

@import "pages/front-page",
        "pages/quotation-page",
        "pages/page";
