
// dependencies
@import "node_modules/breakpoint-sass/stylesheets/breakpoint",
		"node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer";

// abstracts
@import "abstracts/variables";

// vendors
// @import "node_modules/bootstrap/scss/bootstrap";
 
// vendors overrides
@import "vendors/bootstrap/bootstrap",
        "vendors/fancybox/fancybox",
        "vendors/fontawesome/fontawesome",
        "vendors/fontawesome/brands",
        "vendors/fontawesome/regular",
        "vendors/fontawesome/solid",
        "vendors/hamburgers/hamburgers";  

// base
@import "base/fonts",
        "base/base";

// layout
@import "layout/header",
        "layout/footer",
        "layout/forms",
        "layout/grid";

// components
@import "components/buttons",
        "components/forms",
        "components/modal";

// pages
@import "pages/front-page",
        "pages/page";
