html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 62.5%;
}

body {
    background-color: white;
    color: #333333;
    font-family: $body-font-family;
    font-size: $body-default-font-size;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0;
    line-height: 1.6;    
    transition: filter .4s ease-in;    
    -webkit-font-smoothing: antialiased;

    &.on-lock {
        overflow-y: hidden;        
    }
} 

a {
    color: black;
    text-decoration: underline;    
    transition: .2s ease all;
    &:hover,
    &:focus,
    &:active {
        color: $primary-theme-color;
        text-decoration: none;
    } 
}

*, *:hover, *:focus {
    box-sizing: border-box;
    outline:0;
}

.transition, %transition {
    transition:all 0.3s ease-in-out;
}

.mx-auto { margin: auto; }

.txt-center {
    @media (min-width: 992px) {
        text-align: center;
    }
} 

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $secondary-theme-color;
    font-family: $heading-font-family;
    font-size: 2.1rem;
    @media (min-width: 992px) {
        font-size: $heading-default-font-size;    
    }
    font-weight: 400;
    letter-spacing: 2.1px;    
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;    
}


.center {
    margin-left: auto;
    margin-right: auto;
    h3, h4, h5, h6 {
        text-align: center;
    }
    .wpcf7{
        input[type="submit"] {
            margin: auto;
        }
    }
}

body {
    &.page-template-page-seo-template {
        .center {
            border-top: 1px solid $primary-theme-color;            
            padding-top: 2rem;
            
        }
    }
}