/* --------------------------------------------------------------------
 * Fonts
 * ----------------------------------------------------------------- */

 // Nunito Google Font
 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

 // Lato Google Font
 @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');