/* --------------------------------------------------------------------
 * Fonts
 * ----------------------------------------------------------------- */

// Nunito Google Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

// Poppins Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');