$primary-theme-color    : rgb(197, 185, 172);
$secondary-theme-color  : rgb(38, 38, 38);
$kings-theme-color      : rgb(0, 86, 154); 

$body-font-family       : 'Noto Sans KR', sans-serif; 
$heading-font-family    : 'Noto Serif', serif;

$primary-theme-font     : $body-font-family;
$secondary-theme-font   : $heading-font-family; 

$body-default-font-size : 1.6rem;
$heading-default-font-size: 2.6rem; 
