$primary-theme-color    : rgb(197, 185, 172);
$secondary-theme-color  : rgb(38, 38, 38);
$kings-theme-color      : rgb(0, 86, 154); 

$body-font-family       : 'PT Sans', sans-serif; 
$heading-font-family    : 'Playfair Display', serif;

$primary-theme-font     : $body-font-family;
$secondary-theme-font   : $heading-font-family; 

$body-default-font-size : 1.6rem;
$heading-default-font-size: 2.5rem; 

@media (min-width: 992px) {
    $heading-default-font-size: 4.6rem; 
}