/* --------------------------------------------------------------------
 * Variables
 * ----------------------------------------------------------------- */

/* --------------------------------------------------------------------
 * Theme - Colors
 * ----------------------------------------------------------------- */
$primary-theme-color    : rgb(255, 218, 83);
$secondary-theme-color  : rgb(38, 38, 38);

/* --------------------------------------------------------------------
 * Theme - Tyopgraphy
 * ----------------------------------------------------------------- */
// Font family(s)
$body-font-family       : 'Poppins', sans-serif; 
$heading-font-family    : 'Nunito', sans-serif;

$primary-theme-font     : $body-font-family;
$secondary-theme-font   : $heading-font-family; 

// Font sizes
$body-default-font-size : 1.6rem;
$heading-default-font-size: 2.5rem; 


/* --------------------------------------------------------------------
 * Variables: MediaQueries
 * ----------------------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    $heading-default-font-size: 4.6rem; 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}