/* --------------------------------------------------------------------
 * Buttons
 * ----------------------------------------------------------------- */
.btn {
    align-content: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 1.2rem 2.4rem;
    margin-bottom: 2rem;
    border: .1rem solid transparent;
    transition: background .2s ease-out;    
    text-align: center;
    border-radius: .4rem;
    will-change: background;
    text-decoration: none;
    
    &.btn-center {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    &.btn-primary {
        box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .20);
        color: black;
        background-color: $primary-theme-color;
        border: .2rem solid $primary-theme-color;
        
        &:hover {
            color: $primary-theme-color;   
            background-color: transparent;
        }
    }

    &.btn-secondary {
        color: $secondary-theme-color;
        background-color: white;
        border: .2rem solid $secondary-theme-color;
        
        &:hover {
            color: white;   
            background-color: $secondary-theme-color;
        }        
    }
    
    &.btn-tertiary {
        color: white;
        background-color: black;
        border: .2rem solid black;
        font-family: $secondary-theme-font;

        &:hover {
            color: black;   
            background-color: white;
        }        
    }
}

 /* --------------------------------------------------------------------
 * Variables: MediaQueries
 * ----------------------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .btn {
        margin-bottom: 0;
        &.btn-center {
            margin-bottom: 40px;
            margin-top: 40px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}