.button {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.2;
    transition: all .2s ease-in-out;
    text-transform: uppercase; 
    width: fit-content;

    i { font-size: 3.1rem; }
    span { padding-left: 7.5px; }
    svg {
        margin-right: 7.5px;
    }
    &.button-primary {
        background-color: white;        
        border: 1px solid #b4b4b4;
        color: #1a1919;
               
        &:hover {
            background-color: transparent;
            border: 1px solid black;
            color: black;            
        }
    }
    &.button-whatsapp {
        border-color: #50a9a5;
        color: #50a9a5;
        svg {
            fill: #50a9a5;
        }
        &:hover {
            background-color: #50a9a5;
            border-color: white;
            color: white;
            svg {
                fill: white;
            }
        }
    }
    &.button-secondary {
        background-color: $primary-theme-color;
        border: 1px solid $primary-theme-color; 
        color: white;
        &:hover {
            background-color: white;
            border: 1px solid $primary-theme-color;
            color: $primary-theme-color;            
        }
    }

    &.button-tertiary {
        background-color: #827c78;
        box-shadow: #333333 0px 20px 30px -20px;
        border: 1px solid #827c78;
        color: white;
        transition: all .2s ease-in-out;
        
        &:hover { 
            background-color: white;
            border: 1px solid #827c78;
            color: #827c78;            
        }
    }
}