/* --------------------------------------------------------------------
 * Buttons
 * ----------------------------------------------------------------- */
.btn {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    border: .1rem solid transparent;
    transition: background .2s ease-out;    
    text-align: center;
    border-radius: .4rem;
    will-change: background;
    &.btn-primary {
        color: $primary-theme-color;
        border: .2rem solid $primary-theme-color;
        background-color: transparent;
        &:hover {
            color: white;
            background-color: $primary-theme-color;
        }
    }
}

 /* --------------------------------------------------------------------
 * Variables: MediaQueries
 * ----------------------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}