.btn {
    align-content: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 1.2rem 2.4rem;
    margin-bottom: 2rem;
    border: .1rem solid transparent;
    transition: background .2s ease-out;    
    text-align: center;
    border-radius: .4rem;
    will-change: background;
    text-decoration: none;
    i { 
        font-size: 2rem;
        margin-left: 1.5rem; 
    }
    &.btn-center {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    &.btn-primary {        
        color: black;
        background-color: $primary-theme-color;
        border: .2rem solid $primary-theme-color;
        
        &:hover {
            color: white;   
            background-color: black;
            border-color: black;
        }
    }

    &.btn-secondary {
        color: white;
        background-color: $kings-theme-color;
        border: .2rem solid $kings-theme-color;
        
        &:hover {
            color: $secondary-theme-color;   
            background-color: #c1c1c1;
            border-color: #c1c1c1;
        }        
    }
    
    &.btn-tertiary {
        color: white;
        background-color: black;
        border: .2rem solid black;
        box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .20);
        font-family: $secondary-theme-font;
        &.btn-y {
            background-color: $primary-theme-color;
            border-color: $primary-theme-color;
            color: $secondary-theme-color;         
            &:hover {
                border-color: $secondary-theme-color;
            }   
        }
        &:hover {
            color: black;   
            background-color: white;
        }        
    }
}

@media (min-width: 992px) {
    .btn {        
        &.btn-center {
            margin-bottom: 40px;
            margin-top: 40px;
        }
    }
}
