/* --------------------------------------------------------------------
 * Forms
 * ----------------------------------------------------------------- */
.wpcf7 {
    width: 100%;
    .wpcf7-not-valid-tip {
        display: none;
    }
   
    form {
        &.wpcf7-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            .ajax-loader {
                display: none;
            }
            p {
                margin: 0;
            }
            input {
                &.wpcf7-submit {
                    align-content: center;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    width: fit-content;
                    padding: 1.2rem 2.4rem;
                    margin-bottom: 2rem;
                    border: .1rem solid transparent;
                    transition: background .2s ease-out;    
                    text-align: center;
                    border-radius: .4rem;
                    will-change: background;
                    text-decoration: none;
                    color: white;
                    background-color: black;
                    border: .2rem solid black;
                    margin: 0;
                    &:hover {
                        color: black;   
                        background-color: white;
                    }       
                }
            }
            input, textarea{
                font-family: $primary-theme-font;
                font-size: 1.4rem;
                &.wpcf7-not-valid {
                    border: 1px solid #dc3232;
                }
            }
            textarea {
                height: 145px;
            }
    
            .wpcf7-response-output {
                border: none;
                font-size: 1.4rem;
                font-style: italic;
                padding: 0;
                margin: 0;
            }
        }
    }
}

 
/* --------------------------------------------------------------------
 * Variables: MediaQueries
 * ----------------------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

@media (min-width: 375px) {
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}