.sd-tabs {
    border-bottom: none;
    border-top: 1px solid $primary-theme-color;
    border-bottom: 1px solid $primary-theme-color;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    @media (min-width: 992px) {
        .nav-item {
            width: 20%;
            text-align: center;
        }
    }
    
    .nav-link {
        border: none;
        font-weight: 600;
        text-decoration: none;
        padding: 2.5rem 1.5rem;
        &:hover {
            border-bottom: 3px solid $primary-theme-color;
            color: $primary-theme-color;
        }
        &.active {
            border-bottom: 3px solid $primary-theme-color;
        }
    }    
}


.tab-content { 
    display: block;
    margin-bottom: 2rem;
    position: relative; 
    z-index: 1;
}

.tab-pane {
    display: none;
    
    &.active {
        display: block;    
    }
}