 .site-intro {    
    padding-top: 40px;
    padding-bottom: 40px;
    
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;        
    }
    .image {       
        @media (min-width: 768px) {
            text-align: center;
        }
        @media (min-width: 992px) {
            text-align: right;
        }
        img {
            @extend .img-fluid;
            border-radius: 30px 0 30px 0;
            box-shadow: #26394d 0px 20px 30px -10px;
            @media (min-width: 992px ) {
                border-radius: 100px 0 100px 0;
                width: 70%;
            }
        }
    }
    
    .buttons {
        display: flex;    
        @media (max-width: 410px) {
            flex-direction: column;
        }    
        margin-bottom: 30px;
        padding-top: 15px;
        width: 100%;
        .button {
            margin-bottom: 15px;
        }

        @media (min-width: 410px) {
            .button {
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                margin-left: 15px;
                margin-right: 15px;
            }   
        }
    }
}
