 .site-intro {    
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;        
    }
    .image {       
        text-align: right;
        img {
            @extend .img-fluid;
            border-radius: 30px 0 30px 0;
            box-shadow: #26394d 0px 20px 30px -10px;
            @media (min-width: 992px ) {
                border-radius: 100px 0 100px 0;
            }
        }
    }
    
    .buttons {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        a {
            &:first-child { margin-right: 20px; }
        }
    }
}
