
.site-page {
    padding-bottom: 2rem;
    padding-top: 2rem;  
}

.site-page-cta {    
    padding-bottom: 4rem;
    padding-top: 8rem;

    .cta-content {
        background-color:#9b8f7b;
        border-radius: 0 4rem 0 4rem;
        color: white;
        padding: 2rem;
        h3 { color: white; }
        &.cta-content-secondary {
            background-color:  $primary-theme-color;            
        }
    }
}

.site-content-extra {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

@media (min-width: 992px) {
     .site-page-cta {
        .cta-content {
            border-radius: 0 90px 0 90px;
            padding: 8rem;
            &.cta-content-secondary {
                margin-left: -8rem;
                margin-top: -4rem;
            }
        }
    }    
}