
.site-page {
    padding-bottom: 20px;
    padding-top: 40px;  
    ul {
        list-style: disc;
        padding-bottom: 20px;
        padding-left: 20px;
    }
    .image {       
        padding-bottom: 40px;
        img {
            @extend .img-fluid;
            border-radius: 30px 0 30px 0;
            box-shadow: $secondary-theme-color 0px 20px 30px -10px;
            @media (min-width: 992px ) {
                border-radius: 100px 0 100px 0;
                width: 90%;
            }
        }
    }
}
