/* --------------------------------------------------------------------
 * Page
 * ----------------------------------------------------------------- */
.block {
    background: white;
    box-shadow: 0 0.2rem 2.3rem 0 rgba(30, 30, 30, .5);    
    padding: 2rem;
}

/* --------------------------------------------------------------------
 * Variables: MediaQueries
 * ----------------------------------------------------------------- */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .block {        
        padding: 4rem;
        width: 45%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}